#Start

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Big%20Sales%20Data.csv')

In [ ]:
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDT36,12.3,Low Fat,0.111448,Baking Goods,33.4874,OUT049,1999,Medium,Tier 1,Supermarket Type1,436.608721
1,FDT36,12.3,Low Fat,0.111904,Baking Goods,33.9874,OUT017,2007,Medium,Tier 2,Supermarket Type1,443.127721
2,FDT36,12.3,LF,0.111728,Baking Goods,33.9874,OUT018,2009,Medium,Tier 3,Supermarket Type2,564.598400
3,FDT36,12.3,Low Fat,0.000000,Baking Goods,34.3874,OUT019,1985,Small,Tier 1,Grocery Store,1719.370000
4,FDP12,9.8,Regular,0.045523,Baking Goods,35.0874,OUT017,2007,Medium,Tier 2,Supermarket Type1,352.874000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14204 entries, 0 to 14203
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            14204 non-null  object
 1   Item_Weight                11815 non-null  float64
 2   Item_Fat_Content           14204 non-null  object
 3   Item_Visibility            14204 non-null  float64
 4   Item_Type                  14204 non-null  object
 5   Item_MRP                   14204 non-null  float64
 6   Outlet_Identifier          14204 non-null  object
 7   Outlet_Establishment_Year  14204 non-null  int64
 8   Outlet_Size                14204 non-null  object
 9   Outlet_Location_Type       14204 non-null  object
 10  Outlet_Type                14204 non-null  object
 11  Item_Outlet_Sales          14204 non-null  float64
dtypes: float64(4), int64(1), object(7)
memory usage: 1.3+ MB

In [ ]:
df.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [ ]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  2389
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                     0
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

#Filling missing number

In [ ]:
df['Item_Weight'].fillna(df.groupby(['Item_Type'])['Item_Weight'].transform('mean'),inplace = True)

In [ ]:
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [ ]:
import seaborn as sns
sns.pairplot(df)

#Get Categorize

In [ ]:
df[['Item_Identifier']].value_counts()

In [ ]:
df.columns

In [ ]:
df[['Item_Fat_Content']].value_counts()

In [ ]:
df.replace({'Item_Fat_Content': {'LF':'Low Fat','reg':'Regular','low fat':'Low Fat'}},inplace = True)

In [ ]:
df[['Item_Fat_Content']].value_counts()

In [ ]:
df.replace({'Item_Fat_Content':{'Low Fat':0,'Regular':1}},inplace = True)

In [ ]:
df[['Item_Fat_Content']]

In [ ]:
df[['Item_Type']].value_counts()

In [ ]:
df['Item_Type'].unique()

In [ ]:
df.replace({'Item_Type':{'Baking Goods':0, 'Breads':0, 'Breakfast':0, 'Canned':0, 'Dairy':0,'Frozen Foods':0, 'Fruits and Vegetables':0, 'Hard Drinks':0,'Health and Hygiene':1, 'Household':1, 'Meat':0, 'Others':2, 'Seafood':0,'Snack Foods':0,'Soft Drinks':0, 'Starchy Foods':0}},inplace=True)

In [ ]:
df[['Item_Type']].value_counts()

In [ ]:
df['Outlet_Identifier'].value_counts()

In [ ]:
df['Outlet_Identifier'].unique()

In [ ]:
df.replace({'Outlet_Identifier':{'OUT049':2, 'OUT017':7, 'OUT018':6, 'OUT019':9, 'OUT046':3, 'OUT013':1,'OUT027':0, 'OUT045':5, 'OUT035':4, 'OUT010':8}},inplace = True)

In [ ]:
df['Outlet_Identifier'].value_counts()

In [ ]:
df['Outlet_Size'].value_counts()

In [ ]:
df.replace({'Outlet_Size': {'Small':0,'Medium' :1,'High':2}},inplace=True)

In [ ]:
df['Outlet_Size'].value_counts()

In [ ]:
df['Outlet_Location_Type'].value_counts()

In [ ]:
df.replace({'Outlet_Size': {'Small':0,'Medium' :1,'High':2}},inplace=True)

In [ ]:
df.info()

In [ ]:
df[['Outlet_Location_Type']].value_counts()

In [ ]:
df.replace({'Outlet_Location_Type': {'Tier 1':0,'Tier 2' :1,'Tier 3':2}},inplace=True)

In [ ]:
df[['Outlet_Type']].value_counts()

In [ ]:
df.replace({'Outlet_Type': {'Grocery Store':0,'Supermarket Type1' :1,'Supermarket Type2':2,'Supermarket Type3':3}},inplace=True)

# Define y and x

In [ ]:
y = df['Item_Outlet_Sales']

In [ ]:
df.columns

In [ ]:
x=df[['Item_Weight', 'Item_Fat_Content', 'Item_Visibility','Item_Type', 'Item_MRP', 'Outlet_Identifier','Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type','Outlet_Type']]

In [ ]:
x.shape

#Get standardized

In [ ]:
from sklearn.preprocessing  import StandardScaler

In [ ]:
ss = StandardScaler()

In [ ]:
x_std = df[['Item_Weight','Item_Visibility','Item_MRP','Outlet_Establishment_Year']]

In [ ]:
x_std = ss.fit_transform(x_std)

#Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train , x_test, y_train , y_test = train_test_split(x,y,test_size= 0.1 ,random_state = 12529) # random_state = any number (to fixed  the combination number of random combination )

# Random Forest Model

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
rf = RandomForestRegressor(random_state= 2529)

In [ ]:
rf.fit(x_train,y_train)

# Predict Test Data

In [ ]:
y_pred = rf.predict(x_test)

In [ ]:
y_pred.shape

In [ ]:
y_pred

# Model Accuracy

In [ ]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,mean_absolute_percentage_error,r2_score  # Evaluating

In [ ]:
mean_squared_error(y_test,y_pred)

In [ ]:
mean_absolute_error(y_test,y_pred)

In [ ]:
mean_absolute_percentage_error(y_test, y_pred)

In [ ]:
r2_score(y_test,y_pred)

* R square is very low signifies need for model improvement

#visualization

In [ ]:
import matplotlib.pyplot as plt
plt.scatter(y_test,y_pred)
plt.xlabel('Actual price')
plt.ylabel('Predicted price')
plt.title('Actual price vs predicted price')
plt.show()