#Start

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/WhiteWineQuality.csv',sep=';')

In [ ]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

#Define x and y

In [ ]:
y=df['quality']

In [ ]:
x = df.drop(['quality'],axis = 1)

In [ ]:
x

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9
...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8

#Get standardized

In [ ]:
from sklearn.preprocessing  import StandardScaler

In [ ]:
ss = StandardScaler()

In [ ]:
x = ss.fit_transform(x)

#Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train , x_test, y_train , y_test = train_test_split(x,y,test_size= 0.3,stratify = y ,random_state = 12529) # random_state = any number (to fixed  the combination number of random combination )

#Support Vector Machine Classifier

In [ ]:
from sklearn.svm import SVC

In [ ]:
svc= SVC()

In [ ]:
svc.fit(x_train , y_train)

SVC()

In [ ]:
y_pred = svc.predict(x_test)

In [ ]:
y_pred

#Model Accuracy

In [ ]:
from sklearn.metrics import confusion_matrix ,classification_report

In [ ]:
confusion_matrix(y_test,y_pred)

In [ ]:
print(classification_report(y_test,y_pred))

#Remodel with two class 

wine quality 3,4,5 labelled as 0

wine quality 6,7,8,9 labelled as 1

In [ ]:
y=df['quality'].apply(lambda y_value :1 if y_value>=6 else 0 )

In [ ]:
y.value_counts()

#Train Test Split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train , x_test, y_train , y_test = train_test_split(x,y,test_size= 0.3,stratify = y ,random_state = 12529) # random_state = any number (to fixed  the combination number of random combination )

#Support Vector Machine Classifier

In [ ]:
from sklearn.svm import SVC

In [ ]:
svc= SVC()

In [ ]:
svc.fit(x_train , y_train)

In [ ]:
y_pred = svc.predict(x_test)

In [ ]:
y_pred

#Model Accuracy

In [ ]:
from sklearn.metrics import confusion_matrix ,classification_report

In [ ]:
confusion_matrix(y_test,y_pred)

In [ ]:
print(classification_report(y_test,y_pred))

#Get Future Predictictions

let select a random sample from existing dataset as new value
Steps to follow :

1) Extract a random row using sample function

2)Seprate x and y

3)Predict

In [ ]:
df_new = df.sample(1)

In [ ]:
df_new

In [ ]:
df_new

In [ ]:
x_new = df_new.drop(['quality'],axis =1)

In [ ]:
x_new = ss.fit_transform(x_new)

In [ ]:
y_pred_new = svc.predict(x_new)

In [ ]:
y_pred_new